body {
  background-color: #25274d;
}
h2 {
  color: #fff;
}
.contact {
  padding: 4%;
  height: 400px;
}
.col-md-3 {
  background: #40bfc1;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
}
.contact-info img {
  margin-bottom: 15%;
}
.contact-info h2 {
  margin-bottom: 10%;
}
.col-md-9 {
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label {
  font-weight: 600;
}
.contact-form button {
  background: linear-gradient(60deg, #ef5350, #e53935);
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus {
  box-shadow: none;
}

.col-md-3[_ngcontent-kmy-c7] {
  /* background: linear-gradient(60deg, #ef5350, #e53935); */
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
button {
  color: #40bfc1;
}
.contact-form button {
  background: #40bfc1;
  color: #fff;
  font-weight: 600;
  width: 25%;
}

.col-md-10 {
  display: flex;
  flex-direction: row;
  text-align: center;

  justify-content: space-between;
}
.wrap-detail {
  text-align: left;
}
.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 136px;
  margin-top: -45px;
}