<div class="modal-header">
  <h2 style="text-align: center">Update Data</h2>
  <form (ngSubmit)="updateBook()" class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">cif</label>
      <input
        type="text"
        name="cif"
        value="{{ cif }}"
        autofocus
        autocomplete="off"
        [(ngModel)]="cif"
        class="form-control"
        placeholder="Enter cif"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">First Name</label>
      <input
        type="text"
        name="title"
        [(ngModel)]="firstName"
        value="{{ firstName }}"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter First Name"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Last Name</label>
      <input
        type="text"
        value="{{ lastName }}"
        name="publisher"
        class="form-control"
        id="exampleInputEmail1"
        [(ngModel)]="lastName"
        aria-describedby="emailHelp"
        placeholder="Enter Last Name"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Address</label>
      <input
        type="text"
        name="price"
        value="{{ address }}"
        class="form-control"
        [(ngModel)]="address"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="address"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Birth Date</label>
      <input
        type="text"
        name="birthDate"
        value="{{ birthDate }}"
        class="form-control"
        id="exampleInputEmail1"
        [(ngModel)]="birthDate"
        aria-describedby="emailHelp"
        placeholder="Enter Birth Date"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Birth Place</label>
      <input
        type="text"
        name="birthPlace"
        value="{{ birthPlace }}"
        class="form-control"
        id="exampleInputEmail1"
        [(ngModel)]="birthPlace"
        aria-describedby="emailHelp"
        placeholder="Enter Birth Place"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
