<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-danger">
            <nav class="navbar justify-content-between">
              <a class="navbar-brand">Loan Data</a>
              <form class="form-inline">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                >
                <i class="material-icons">
                  search
                  </i>
                
                </button>
              </form>
            </nav>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Loan Id</th>
                  <th>Account Number</th>
                  <th>Loan Amount</th>
                  <th>Loan Balance</th>
                  <th>Loan Status</th>
                  <th>Open Date</th>
                  <th>Due Date</th>
                  <th>Loan Tenor</th>
                  <th>Loan Type Code</th>
                  <th>Customer Cif</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr *ngFor="let L of loan | paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
                    <td>{{ L.loanId }}</td>
                    <td>{{ L.accountNumber }}</td>
                    <td>{{ L.loanAmount }}</td>
                    <td>{{ L.loanBalance }}</td>
                    <td *ngIf="L.loanTenor == 1">PAID</td>
                    <td *ngIf="L.loanTenor == 0">DUE</td>
                    <td>{{ L.openDate }}</td>
                    <td>{{ L.dueDate }}</td>
                    <td>{{ L.loanTenor }}</td>
                    <td>{{ L.loanTypeCode }}</td>

                    <td>{{ L.customerCif }}</td>

                    <td>
                      <a [routerLink]="['/form-detail/', L.loanId]"
                      class="btn btn-info"

                      role="button"
                        > <i class="material-icons">
                            visibility
                            </i>Detail</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
