<div class="modal-header">
  <h2 style="text-align: center">Update Account</h2>
  <form (ngSubmit)="updateAccount()" class="container">
    <div class="form-group">
      <label for="exampleInputEmail1">Account Number</label>
      <input
        type="text"
        name="accountNumber"
        value="{{ accountNumber }}"
        autofocus
        autocomplete="off"
        [(ngModel)]="accountNumber"
        class="form-control"
        placeholder="Enter cif"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">CIF Customer</label>
      <input
        type="text"
        name="customerCif"
        [(ngModel)]="customerCif"
        value="{{ customerCif }}"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter First Name"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Account Balance</label>
      <input
        type="text"
        value="{{ accountBalance }}"
        name="accountBalance"
        class="form-control"
        id="exampleInputEmail1"
        [(ngModel)]="accountBalance"
        aria-describedby="emailHelp"
        placeholder="Enter Last Name"
      />
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Created At</label>
      <input
        type="text"
        name="createdAt"
        value="{{ createdAt }}"
        class="form-control"
        [(ngModel)]="createdAt"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="address"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
