.table{
    text-align: center;
}
a.btn.btn-primary{
    color: white;
    padding: 5px;
}
a.btn.btn-danger{
    color: white;
    padding: 5px;
}
a.btn.btn-info{
    padding: 6px 49px 6px 49px;
    margin: 0px;
}
.row {
   
    margin-left: 5px;
    margin-right: 5px;
}
.navbar[_ngcontent-gtw-c5] {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    /* margin-bottom: 20px; */
    color: #555;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}.navbar {
    border: 0;
    border-radius: 3px;
    padding: 0.625rem 0;
    margin-bottom: 5px;
    color: #555;
    /* background-color: #fff !important; */
    /* box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15); */
}
th{
    color: #555;
}
.row {
    margin-left: 80px;
    margin-right: -200px;
    margin-top: -70px;
}