<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-danger">
            <nav class="navbar justify-content-between">
              <a class="navbar-brand">Navbar</a>
              <form class="form-inline">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  name="search"
                  placeholder="Search"
                  [(ngModel)]="String"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                  (click)="searchAccountByCif(String)"
                >
                  Search
                </button>
              </form>
            </nav>
          </div>
          <button (click)="openModalAdd()" class="btn btn-primary mr-2">
            Add Account
          </button>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Account Number</th>
                  <th>CIF Costumer</th>
                  <th>Account Balance</th>
                  <th>Created at</th>
                </thead>
                <tbody>
                  <tr *ngFor="let A of account">
                    <td>{{ A.accountNumber }}</td>
                    <td>{{ A.customerCif }}</td>
                    <td>{{ A.accountBalance }}</td>
                    <td>{{ A.createdAt }}</td>

                    <td>
                      <button
                        class="btn btn-info"
                        (click)="openModalUpdate(A.accountNumber)"
                      >
                        Update
                      </button>
                      <a
                        class="btn btn-warning"
                        [routerLink]="['/accountDetail', A.accountNumber]"
                        >Detail</a
                      >

                      <button
                        (click)="deleteData(A.accountNumber)"
                        class="btn btn-danger"
                      >
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
