<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-danger">
            <nav class="navbar justify-content-between">
              <a class="navbar-brand">Account Data</a>
              <form class="form-inline">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  name="search"
                  placeholder="Enter Account Number ..."
                  [(ngModel)]="String"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                  (click)="searchAccount(String)"
                >
                  <i class="material-icons">
                    search
                  </i>
                </button>
              </form>
            </nav>
            <button (click)="openModalAdd()" class="btn btn-primary mr-2">
              <i class="material-icons">
                post_add
              </i>
              Add Account
            </button>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Account Number</th>
                  <th>CIF Costumer</th>
                  <th>Account Balance</th>
                  <th>Created at</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let dataku of account
                        | paginate: { itemsPerPage: 5, currentPage: p };
                      let i = index
                    "
                  >
                    <td>{{ dataku.accountNumber }}</td>
                    <td>{{ dataku.customerCif }}</td>
                    <td>{{ dataku.accountBalance }}</td>
                    <td>{{ dataku.createdAt }}</td>

                    <td>
                      <button
                        class="btn btn-primary"
                        id="detailButton"
                        [routerLink]="['/accountDetail', dataku.accountNumber]"
                      >
                        <i class="material-icons">
                          visibility
                        </i>
                        Detail
                      </button>

                      <button
                        class="btn btn-primary"
                        id="detailButton"
                        (click)="openModalUpdate(dataku.accountNumber)"
                      >
                        <i class="material-icons">
                          edit
                        </i>
                        edit
                      </button>

                      <button
                        (click)="deleteData(dataku.accountNumber)"
                        id="deleteButton"
                        class="btn btn-danger"
                      >
                        <i class="material-icons">
                          delete
                        </i>
                        Delete
                      </button>
                    </td>
                  </tr>
                </tbody>
                <pagination-controls
                  (pageChange)="p = $event"
                ></pagination-controls>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
